<h1>Edit Transaction</h1>
<form action="/merchants/<%= @merchant.id %>" method="post">

<p>
    <label>
      Merchant name: 
      <input type="text" name="merchant_name" value="<%= @merchant.name %>" />
    </label>
  </p>
    
  <input type="submit" value="Submit" />
</form>