<!DOCTYPE html>
<html>
<head>
  <title>Penny-wise</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h1>Penny-wise</h1>
  <nav>
    <ul>
      <li>
      <a href="/transactions">Transactions</a>
      <a href="/merchants">Merchants</a>
      <a href="/categories">Categories</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>