<h2>Categories</h2>

<p><a href="/categories/new">Create Category</a></p>

<% for category in @categories%>
<p> Category: <%= category.name() %></p>

<p><a href="/categories/<%= category.id %>">Show</a></p>
<hr/>

<% end %>