<table>
  <tr>
     <th>Category</th>
     <th>Merchant</th>
     <th>Value</th>
     <th>Transaction Date</th>
   </tr>
   <% for transaction in @transactions%>
  
   <tr>
    <td><%= transaction.category.name() %></td>
    <td><%= transaction.merchant.name() %></td>
    <td>£<%= transaction.value() %></td>
    <td><%= transaction.transaction_date() %></td>
    </tr>
    <% end %>

</table>